/* Reset some default browser styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: white;
  color: #b88a8a;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.loading,
.error {
    text-align: center;
    margin-top: calc(50vh - (1rem + .5vw));
    font-size: calc(1.2rem + .5vw);
    color: #555; /* Neutral gray */
}
